# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
_build/
_build_pdf/
dist/
*.egg-info/
_version.py

# Virtual environment
.venv/
env/
venv/
ENV/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Other temp files
*.swp
*~

# Built documentation
docs/_autoapi/

uv.lock
ssp_cache/
